.c-type-number {
    color: red;
}

.c-type-bool {
    color: orange;
}
.c-type-string {
    color: green;
}

.c-type-object {
    color: blue;
}

.c-type-array {
    color: rgb(192, 91, 9);
}
.c-type-default {
    color:rgb(2, 74, 83);
}