$bg-sidebar-wrapper: #1d1d1d;
$border-color: #2b2b2b;
$footer-top-border-color: #3a3a3a;
$border-sub-menu: #e0e0e0;
$color: #bdbdbd;
$header-menu-color: #6c7b88;
$hover-color: #ffffff;
$shadow-color: #131212;
$bg-scrollbar: #636363;
$primary-color: #e79a0c;
// colors with backgound image
$img-bg-sidebar-wrapper: rgba(29, 29, 29, 0.8);
$img-border-color: rgba(255, 255, 255, 0.1);
$img-bg-footer: rgba(43, 43, 43, 0.5);
$img-shadow-color: rgba(0, 0, 0, 0.5);

.page-wrapper {
    height: 100vh;
  
    .page-content {
      display: inline-block;
      width: 100%;
      transition: padding-left .3s ease;
  
      @media screen and (min-width: 768px) {
        padding-left: 260px;
      }
  
      
    }
  
    .sidebar {
      left: 0px;
    }
    .sidebar {
      left: 0px;
    }
  
    &.toggled {
  
      .page-content {
        padding-left: 0;
      }
    }
  
  }