<div class="launch">
    <!-- header -->
    <div class="header-launch">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text ">Post</span>
          </div>
            
            <input type="text" class="form-control" readonly aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
            value="http://redocly.github.io/redoc/#operation/addPet">
            <div class="input-group-prepend">
              <button class="btn btn-outline-info" type="button">Copy</button>
            <button class="btn btn-info" type="button">launch</button>
              
            </div>
          </div>
    </div>
    
    <!-- description -->
    <!-- <div class="describe-launch">
        <p>Request samplesvsd</p>
    </div> -->

    <!-- content -->
    <div class="content-launch">
        <nav>
            <div class="nav nav-tabs" id="nav-launch">
              <a class="nav-link " id="nav-home-tab" >Try it</a>
              <a class="nav-link active">Java</a>
              <a class="nav-link">JavaScript</a>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
             <!-- content Try it  -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               <app-tryit></app-tryit>
            </div>
          
          </div>
    </div>
</div>
