//color response
$color-primary: #e6ad45;
.methodHttp {
    border: 1px solid;
    font-size: x-large;
    padding: 0px 4px 0px 4px;
}
// .met-post {
//     color:orange;
// }
// .met-get {
//     color:blue;
// }
.path-endpoint {
    font-size: x-large;
    margin-left: 20px;
}
.desciption {
    padding-top: 12px;
    padding-left: 3em;
}

.container-fluid {
    width: 100%;
}